@using ProjetoEmprestimoLivros.Dto.Livro
@model LivroEdicaoDto

@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success text-dark" role="alert">
        @TempData["MensagemSucesso"]
    </div>
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger text-dark" role="alert">
        @TempData["MensagemErro"]
    </div>
}

<div class="container mt-15">
    <form method="post" asp-action="Editar" asp-controller="Livro" enctype="multipart/form-data">
        
        <h2> Você está editando o livro @Model.Titulo, de id @Model.Id</h2>

        <input type="hidden" asp-for="@Model.Id" />

        @if (Model.Capa != null)
        {
            <div class="text-center">
                <label for="ImageFile">
                    <img id="img" src="/Imagens/@Model.Capa" style="width:150px; height:200px;" />
                </label>
            </div>
        }

        <div class="mb-1">
            <label class="for-label mt-3">Capa: </label>
            <input type="file" id="ImageFile" name="foto" class="form-control shadow-none" />
        </div>

        <div class="mb-1">
            <label class="for-label mt-3">Titulo: </label>
            <input type="text" class="form-control shadow-none" asp-for="Titulo" />
            <span asp-validation-for="Titulo" class="text-danger"></span>
        </div>

        <div class="mb-1">
            <label class="for-label mt-3">Autor: </label>
            <input type="text" class="form-control shadow-none" asp-for="Autor" />
            <span asp-validation-for="Autor" class="text-danger"></span>
        </div>

        <div class="mb-1">
            <label class="for-label mt-3">Descrição: </label>
            <textarea asp-for="Descricao" class="form-control shadow-none" rows="10" cols="30" ></textarea>
            <span asp-validation-for="Descricao" class="text-danger"></span>
        </div>

        <div class="col-12 d-flex gap-1 w-100">
            <div class="mb-1 col-6">
                <label class="for-label mt-3">Ano Publicação: </label>
                <input type="text" class="form-control shadow-none" asp-for="AnoPublicacao" />
                <span asp-validation-for="AnoPublicacao" class="text-danger"></span>
            </div>

            <div class="mb-1 col-6">
                <label class="for-label mt-3">Genero: </label>
                <input type="text" class="form-control shadow-none" asp-for="Genero" />
                <span asp-validation-for="Genero" class="text-danger"></span>
            </div>
        </div>

        <div class="col-12 d-flex gap-1 w-100">
            <div class="mb-1 col-6">
                <label class="for-label mt-3">Quantidade em estoque: </label>
                <input type="number" min="1" class="form-control shadow-none" asp-for="QuantidadeEmEstoque" />
                <span asp-validation-for="QuantidadeEmEstoque" class="text-danger"></span>
            </div>

            <div class="mb-1 col-6">
                <label class="for-label mt-3">ISBN: </label>
                <input type="text" class="form-control shadow-none" asp-for="ISBN" />
                <span asp-validation-for="ISBN" class="text-danger"></span>
            </div>
        </div>

        <div class="btn-box d-flex mt-3">
            <button type="submit" class="btn btn-success w-50 mx-1"><i class="bi bi-check"></i>Confirmar</button>
            <a class="btn btn-info w-50 mx-1" asp-controller="Livro" asp-action="Index">Voltar</a>
        </div>
    </form>
</div>

<script>
    const inputFile = document.querySelector('#ImageFile');

    inputFile.addEventListener("change", function (e) {
        const inputTarget = e.target;
        const file = inputTarget.files[0];

        if (file) {
            const reader = new FileReader();

            reader.addEventListener("load", function (e) {
                const readerTarget = e.target;
                const img = document.querySelector("#img");
                img.src = readerTarget.result;

                const figcaption = document.querySelector("#figcaption");
                figcaption.innerHTML = file.name;
            });

            reader.readAsDataURL(file);
        }
    });
</script>
